{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        [
          "@vue/app",
          {
            "polyfills": ["es6.promise", "es6.symbol"]
          }
        ]
      ]
    }
  }
}
